<div class="page-header">
  <h1>区域列表</h1>
</div>

<ul id="zones">
  <% @zones.each do |zone| %>
    <li><%= link_to  zone.title_cn, sublist_zone_path(zone), id: zone.slug %></li>
  <% end %>
</ul>

<% if session[:user_id] %>
  <div class="admin-btn-panel">
    <%= link_to 'New Zone', new_zone_path, class: "btn" %>
  </div>
<% end %>
