// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-btn-panel {
  margin-top: 1.6em;
  margin-bottom: 1em;
  padding: 2em 2em 1em 4em;
  background-color: #EEE;
  border-top: 1px solid #DDD;

  * {
    display: inline-block;
    margin-right: 0.6em;
  }
}
