// Place all the styles related to the zones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#zones {
  list-style: none;

  li {
    margin: 2em;
    padding: 0;
    display: inline-block;
    a {
      display: block;
      border: 1px solid white;
      width: 300px;
      height: 80px;
      background-color: #DDD;
      background-image: url("/assets/all_zones.jpg");
    }
    
    a:hover {
      border: 1px solid #DDD;
    }
    a#pandaria {
      background-position: 0 80px;
    }
    a#the-maelstrom {
      background-position: 0 160px;
    }
    a#northrend {
      background-position: 0 240px;
    }
    a#outland {
      background-position: 0 320px;
    }
    a#eastern-kingdoms {
      background-position: 0 400px;
    }
    a#kalimdor {
      background-position: 0 480px;
    }
    a#dungeons-and-raids {
      background-position: 0 560px;
    }
  }
}
