<h1><small>Hegwin's Battlepets</small></h1>
<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Pets", pets_path%><li>
  <li><%= link_to "Skills", skills_path%><li>
  <li><%= link_to "Zones", zones_path%><li>
</ul>
