<!DOCTYPE html>
<html>
<head>
  <title>WowPetBattleInfo</title>
  <!--
  stylesheet_link_tag    "application", :media => "all" %>
  javascript_include_tag "application" %>
  -->
  <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
