<!DOCTYPE html>
<html>
<head>
  <title>WowPetBattleInfo</title>
  <!--
  stylesheet_link_tag    "application", :media => "all" %>
  javascript_include_tag "application" %>
  -->
  <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
