<!DOCTYPE html>
<html>
<head>
  <title>WowPetBattleInfo</title>
  <!--
  stylesheet_link_tag    "application", :media => "all" %>
  javascript_include_tag "application" %>
  -->
  <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <p>left navigaaaaaaaaaaaaaaaa a aa aa aa a a aa a a a a aa a a a a aa a a a aaaaaaaation</p>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
